body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bg-img {
  height: 50vw;
  width: 98.7vw;
}

#abs-text {
  position: absolute;
  margin-top: -45vw;
  z-index: 1;
  margin-left: 2vw;
}

#large-txt {
  color: white;
  font-size: 6.3vw;
  width: 65vw;
  font-weight: 700;
}

#sml-txt {
  color: white;
  font-size: 2.7vw;
  width: 65vw;
}

#txt {
  color: black;
  font-size: 3.7vw;
  width: 55vw;
  font-weight: 700;
  text-align: left;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 4vw;
}

.touch-btn1 button {
  height: 3.6vw;
  width: 12vw;
  border-radius: 0.4vw;
  border-style: none;
  margin-right: 43vw;
  margin-top: 2vw;
  font-size: 1vw;
  color: blue;
  background-color: #dee0ff;
  font-weight: 700;
}

.touch-btn1 button:hover {
  color: white;
  background-color: blue;
}

.img1 img {
  height: 40vw;
  width: 90vw;
  border-radius: 3vw;
}

.img2 img {
  height: 12vw;
  border-style: 2vw solid white;
  position: absolute;
  margin-top: -7vw;
  margin-left: 30vw;
}

.img2 div {
  margin-top: 5vw;
  position: absolute;
  margin-left: 31.4vw;
}

#txt1 {
  padding: 4vw;
  color: black;
  font-size: 3.7vw;
  width: 40vw;
  font-weight: 740;
  margin-left: 2vw;
  text-align: left;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 2vw;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 20vw;
  height: 17vw;
}

.lar-txt {
  color: black;
  font-size: 2vw;
}

.small-txt {
  color: black;
  font-size: 1.2vw;
}

.blue-col {
  color: blue;
  font-weight: 600;
  margin-left: 2vw;
}

.blue-line {
  background-color: #dee0ff;
  height: 0.2vw;
  width: 8vw;
  margin-left: 1.6vw;
}

#txt3 {
  color: black;
  font-size: 3.7vw;
  width: 55vw;
  font-weight: 700;
  text-align: center;
}

#app-trend {
  margin-top: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

#box1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #dee0ff;
  height: 80vh;
  width: 49vw;
  margin-right: 2vw;
  border-radius: 3vw;
  padding: 1vw;
}

#box2 {
  display: flex;
  flex-direction: column;
  background-color: #f8f0e6;
  height: 80vh;
  justify-content: space-around;
  width: 35vw;
  border-radius: 3vw;
  padding: 1vw;
}

#box1 img {
  height: 22vw;
}

#box2 img {
  height: 14vw;
}

.head {
  font-size: 6vw;
  font-weight: 700;
}

.tail {
  font-size: 1.4vw;
  font-weight: 400;
  width: 23vw;
}

#box3 {
  margin-top: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #242627;
  height: 70vh;
  width: 89vw;
  padding: 1vw;
  border-radius: 3vw;
  margin-bottom: 3vw;
}

.hori {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#box3 div {
  color: white !important;
}

#box3 img {
  height: 20vw;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.4vw;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.4vw;
}
